@use '../../variables' as *;

.task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $text-bg-light;
  padding: 0.35rem 2rem;

  p{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i{
    cursor: pointer;
    font-size: 1.3rem;

    &.delete{
      color: $delete-primary-color;

      &:hover{
        color: $delete-primary-color-hover;
      }

      &:active{
        color: $delete-primary-color-active;
      }
    }

    &.settings{
      color: $settings-primary-color;

      &:hover{
        color: $settings-primary-color-hover;
      }

      &:active{
        color: $settings-primary-color-active;
      }
    }
  }

  .task-manage-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .task-info{
    width: 80%;
    word-break: break-word;
  }
}
