@use '../../variables' as *;

.heading{
  color: $text-bg-light;
}

.add-task-button{
  all: unset;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: $text-bg-light;
  color: $primary-color;
  box-shadow: 2px 2px 4px $primary-color-shadow;

  &:hover{
    background-color: $btn-text-hover-color;
    box-shadow: 4px 4px 8px $primary-color-shadow;
  }

  &:active {
    transform: scale(0.98);
  }
}

.box{
  position: absolute;
}
