.heading{
  color: white;
}

.add-task-button{
  all: unset;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #218dd1;
  box-shadow: 2px 2px 4px #09466e;

  &:hover{
    background-color: #d1d1d1;
    box-shadow: 4px 4px 8px #09466e;
  }

  &:active {
    padding: 0.55rem 1.05rem;
    font-size: 1.11rem;
  }
}
