$primary-color: #218dd1;
$primary-color-shadow: #09466e;
$secondary-color: #2196f3;
$text-bg-light: #ffffff;
$gray-bg-color: #ccc;
$btn-text-hover-color: #d1d1d1;
$delete-primary-color: red;
$delete-primary-color-hover: #8c0c0c;
$delete-primary-color-active: #cd4343;
$settings-primary-color: gray;
$settings-primary-color-hover: #676767;
$settings-primary-color-active: #878787;
$faint-bg: #676767;
