<div class="faint-background" *ngIf="popupService.popupVisible$ | async" (click)="popupService.close()"></div>

<div class="add-task-box">
  <i class="fa fa-close close-add-task-box" (click)="popupService.close()"></i>

  <app-input-moving-letters class="title-input" letters="Tittle"></app-input-moving-letters>
  <app-input-description class="description-input"></app-input-description>

  <div class="add-task-buttons">
    <button class="delete">DELETE</button>
    <button class="apply">APPLY</button>
  </div>
</div>
